/* header */

.active {
  font-family: text-bold;
}

.logo {
  width: 80%;
  margin-top: 6%;
}

.header-nav,
.header-links,
.header-links2 {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 1.7vw;
}

.header-links2 {
  margin-top: 3%;
}

.header-nav ul li a {
  text-decoration: none;
}

.header-nav {
  width: 100%;
  justify-content: space-between;
}

.header-links {
  margin-left: 2%;
  width: 17%;
  justify-content: space-around;
}

.header-links2 {
  margin-right: 2%;
  width: 40%;
  justify-content: space-around;
}

.header-nav ul li a:hover {
  font-family: text-bold;
}
